/* Styles généraux */
body {
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Styles spécifiques aux images */
.avatar-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    height: auto;
    border-radius: 50%; /* Exemple : image circulaire */
}

.creation-image {
    display: block;
    margin-left: 10;
    margin-right: auto;
    max-width: 150px;
    height: auto;
    border-radius: 8px; /* Exemple : coins arrondis */
}

.creation-image:hover {
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
    

/* Styles pour les paragraphes */
p {
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
}

/* Responsivité */
@media (max-width: 600px) {
    p {
        font-size: 1.2em;
    }
    img {
        max-width: 100px;
    }
}

/* Animation */
.fade-in {
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

@-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Transition */
.transition_box {
    width: 500px;
    margin: 0 auto;
    background-color: beige;
    height: 200px;
    opacity: 0.2;
    text-align: center;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}

.transition_box:hover {
    opacity: 1;
}

/* Mise en page */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box {
    width: 500px;
    margin: 0 auto;
    background-color: beige;
    height: 200px;
    text-align: center;
}

.transparent-gif {
    opacity: 0.02;
    top: -200px;
    left: 450px;
}
